@import url('main.css');

.card{
    padding: 5px;
    margin: 10px;

    border-radius: 15px;
}

.main-content{
    display: flex;
    align-items: flex-start;
    justify-content: center;

    padding: 5px;
}

.extension-icon-image, .extension-info{
    margin: 5px;
}

.extension-name{
    font-size: 18px;
    font-weight: 600;

    padding: 2px;
}

.extension-description{
    font-size: 16px;
    font-weight: 300;
    
    padding: 2px;
}

.extension-action-toggles{
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 5px;
}

.extension-remove{
    width: 80px;
    padding: 8px;

    border-radius: 12px;
}

.extension-remove:hover{
    background-color: var(--Neutral600);

    cursor: pointer;
    transition: 0.3s;
}

