@import url('main.css');

/* BODY */
.background-dark{
    background: var(--DarkGradient);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* header */
.header-dark{
    background-color: var(--Neutral700);
}

.switch-dark-light-when-dark{
    background-color: var(--Neutral600);
}

/* list change */
.h1-dark{
    color: var(--Neutral0);
}

.identifier-dark{
    background-color: var(--Neutral800); 
    color: var(--Neutral0);
    border: solid 1px var(--Neutral700);
}

/* CARDS */
.card-dark{
    background-color: var(--Neutral800); 
}

.h2-dark{
    color: var(--Neutral0);
}

.p-dark{
    color: var(--Neutral100);
}

.button-remove-dark{
    background-color: var(--Neutral700);
    color: var(--Neutral0);

    border: solid 1px var(--Neutral0);
}

.button-remove-dark:hover{
    background-color: var(--Neutral600);
    border:solid 1px var(--Red700);

    cursor: pointer;
    transition: 0.3s;
}
      


