@import url('main.css');

.header-logo{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;

    background-color: var(--Neutral700);

    margin: 20px;
    padding: 10px;

    border-radius: 20px;
}

.logo-image{
    background-image: url('../images/logo.svg');
    background-repeat: no-repeat;
    background-size: cover;

    width: 160px;
    height: 36px;
    padding: 2px;
}

.switch-light-dark{
    background-color: var(--Neutral600);

    border-radius: 8px;

    padding: 10px;
}

.switch{
    background-image: url('../images/icon-sun.svg');
    background-repeat: no-repeat;
    background-size: cover;

    padding: 8px;
}