@import url('main.css');

.header-logo-light{
    background-color: var(--Neutral0);
}

.list-title-light{
    color: var(--Neutral900);
}

.switch-light-dark-change{
  background-color: var(--Neutral100);
}

.change-toggle-style{
    background-color: var(--Red700);
    color: var(--Neutral900);
    transition: 0.2s;

    border: solid 1px var(--Red700);
}

.background-body-light{
    background-color: var(--Neutral200);
    font-family: var(--font);
}

.background-cards-light{
    background-color: var(--Neutral0);
}

.cards-h1-color-light{
    color: var(--Neutral900);
}

.cards-p-color-light{
    color: var(--Neutral800);
}

.button-remove-light{
    background-color: var(--Neutral100);
}

